@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.docx-wrapper {
  overflow: visible !important;
  height: 100% !important;
}
.docx {
  box-shadow: none !important;
  padding: 0 !important;
}